body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-weight: 700;
}

button a {
    text-decoration: none;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 0.3s;
}

input[type="submit"] {
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

